* {
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font-family: "Comic Sans MS", "Comic Sans"
}

.banner {
    background-image: url(./img/design1_image1.jpg);
    min-height: 350px;
    background-size: cover;
    border-bottom: solid 2px black;
}

h1 {
    font-size: 3.6em;
    margin-left: 0.4em;
}

.section {
    margin-top: 3px;
    padding: 0.8em;
    background-color: black;
    color: white;
    text-align: center;
    padding-right: 11.8em;
    max-width: 100%;
}

.logo {
    border: 0.2em solid white;
    display: inline-block;
    background-color: black;
    border-radius: 6px;
}

.content-logo {
    margin-top: -6.5em;
    margin-right: 85px;
    text-align: end;
}

.menu {
    display: block;
    margin-right: 1em;
    margin-left: 1em;

}

.container {
    display: flex;

}

.menu>a {
    margin: 0 0 50px 33px;
    display: block;
}

.logo>img {
    height: 9em;
}


.section-content {
    margin-bottom: 10px;
    margin: 10px 40px;
}


.sangria {
    text-indent: 40px;
}

.espaciado {
    margin-left: 4em;
}

dt {
    padding-top: 20px;
}

.space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-content>.title {
    text-align: center;
}

.content {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
}

.game_info {
    text-decoration: underline;
    font-style: italic;
}

.game_p {
    font-style: italic;
}



td {

    text-align: center;
}

table {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 40em;
}

tr {
    height: 1em;
}

.coordinator {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: circle;
}

form {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    max-width: 80%;
}


form,
label,
fieldset,
legend,
span {
    font-family: Arial;
}
input{font-family: console;
font-size: 18px;}

fieldset {
    padding: 10px 10px 10px 10px;
    border-style: none;
}

legend {
    font-weight: 600;
}

span {
    display: block;
    font-weight: 600;
}

input {
    margin: 5px
}

input[type=text],[type=number],[type=date]{
    border-radius: 3px;
    padding: 5px 14px;
}

.permission {
    font-family: Arial;
    text-align: justify;
    padding: 10px 0px;
}

.permission_box {
    margin: 15px
}

.permission_box span {
    padding: 10px 0px;

}


button {
    background-color: #ffffff;
    font-size: 17px;
    padding: 4px 8px;
    color: black;
    min-width: 30%;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(35, 35, 35);
    background-color: rgb(252, 255, 221);


}

button:hover{
    background-color: rgb(245, 255, 139);
    
}

.boton{
    display: block;
    text-align: center;
}
#first_name{
    min-width: 33.5%;
}
#last_name{
    min-width: 36%;
}
#street_address{
    min-width: 85%; 
}
#city{
    min-width: 55%;   
}

#zip_code{
    min-width: 26%;   
}
#birth_date{
    min-width: 26.3%;  
}
fieldset > h3{
    font-size: 30px;
    margin-bottom: 15px;
}

fieldset > legend{
    padding: 6px 0px;
}