*{
    margin:0px;
    padding:0px;
    box-sizing: content-box;
    font-family: "Comic Sans MS", "Comic Sans"
}

.banner{
    background-image:url(./img/design1_image1.jpg);
    min-height: 350px;
background-size: cover;
border-bottom: solid 2px black;
}

h1{
    font-size: 3.6em;
    margin-left: 0.4em;
}
.section{
    margin-top: 3px;
    padding: 0.8em;
    background-color: black;
    color:white;
    text-align: center;
    padding-right: 11.8em;
    max-width: 100%;
}
.logo{
    border: 0.2em solid white;
    display:inline-block;
    background-color: black;
    border-radius: 6px;
}
.content-logo{
    margin-top: -6.5em;
    margin-right: 85px;
    text-align: end;
}
.menu{
    display: inline-block;
    max-width: 25%;
    vertical-align: top;

}

.container{
    display: inline-block;
}

.menu > a{
    padding:0 0 50px 30px;
    display: block;
}

.logo > img{
    height:9em;
}

.content{
    display: inline-block;
    margin-left:5em;
    max-width: 80%;
}

.section-content{
    margin-bottom: 10px;
}
.section-content > p{
    margin-left: 14px;
    padding: 0.5em;
}
